{% extends 'clienttemplates/base.html' %}
{% load static %}
{% block content %}
<!-- banners -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
		{% for slider in sliders %}
			<div class="item {% if forloop.counter == 1 %}active{% endif %}" style="background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url({{ slider.image.url }}) no-repeat;">

				<div class="container">
					<div class="carousel-caption">
						<h3>{{slider.title}}</h3>
						<p>{{slider.caption}}</p>
						<div class="agileits-button top_ban_agile">
							{{slider.link}}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<!-- <div class="item item2" style="background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url({% static 'clientstatic/images/banner2.jpg' %}) no-repeat;">
				<div class="container">
					<div class="carousel-caption">
						<h3>Financial Analyst <span>Course.</span></h3>
						<p>Any successful career starts with good education. Together with us you will have deeper knowledge of the subjects</p>
						<div class="agileits-button top_ban_agile">
							<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item item3" style="	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url({% static 'clientstatic/images/banner3.jpg' %}) no-repeat;
">
				<div class="container">
					<div class="carousel-caption">
						<h3>Digital Marketing  <span>Course.</span></h3>
						<p>Any successful career starts with good education. Together with us you will have deeper knowledge of the subjects</p>
						<div class="agileits-button top_ban_agile">
							<a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#myModal">Read More »</a>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
	</div>
	<!-- stats -->
	<div class="stats">
		<div class="container">
		<h3 class="heading-agileinfo">Our Stats<span class="ttt">When Climbing The Carrer Ladder </span></h3>
			<div class="col-md-3 w3layouts_stats_left w3_counter_grid">
				<span class="fa fa-graduation-cap" aria-hidden="true"></span>
				<h3>Graduates</h3>
				<p class="counter">45</p>
				
			</div>
			<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
				<span class="fa fa-user" aria-hidden="true"></span>
				<h3>Certified Staff</h3>
				<p class="counter">165</p>
				
			</div>
			<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
				<span class="fa fa-users" aria-hidden="true"></span>
				<h3>Student</h3>
				<p class="counter">563</p>
				
			</div>
			<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
				<span class="fa fa-trophy" aria-hidden="true"></span>
				<h3>Awards</h3>
				<p class="counter">245</p>
				
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //stats -->
	<!-- services -->
	<div class="agileits-about-btm">
		<div class="container">
			<div class="w3-flex">
			{% for category in coursecategories %}	
			<div class="col-md-4 col-sm-4 col-xs-12 ab1 agileits-about-grid1">
				<span class="fa fa-desktop" aria-hidden="true"></span>

				<h4 class="agileinfo-head">{{category.title}}</h4>
				{% for course in category.relatedcourse.all %}
				<h5>{{course.name}}</h5>
				<p>{{course.description}}</p>
				{% endfor %}
			</div>
			{% endfor %}

			<div class="clearfix"></div>
			</div>
		</div>
	</div><div class="services">
		<h3 class="heading-agileinfo">What we offer<span>When Climbing The Carrer Ladder </span></h3>
	<div class="container">
		<div class="services-top-grids">
			{%  for service in servicelist %}
			<div class="col-md-4">
				<div class="grid1">
					<i class="fa fa-{{service.icon}}" aria-hidden="true"></i>
					<h4>{{service.title}}</h4>
					<p>{{service.decription}}</p>
					

					<!-- <img src="{{service.image.url}}"> -->
				</div>
			</div>
			{% endfor %}
		
			<div class="clearfix"></div>
		</div>
	
	</div>
</div>
<!-- //services -->

	<!-- feedback -->
	<div class="feedback section-w3ls about-w3ls" id="testimonials">
		<div class="feedback-agileinfo">
			<div class="container">
				<h3 class="heading-agileinfo">Testimonials<span class="ttt">When Climbing The Carrer Ladder </span></h3>
				<div class="agileits-feedback-grids">
					<div id="owl-demo" class="owl-carousel owl-theme">
						{%  for testimonial in alltestimonials %}
						<div class="item">
							<div class="feedback-info">

								<div class="feedback-top">
									<p> {{testimonial.saying}} </p>
								</div>
								<div class="feedback-grids">
									<div class="feedback-img">
										<img src="{{testimonial.image.url}}" alt="" />
									</div>
									<div class="feedback-img-info">
										<h5>{{testimonial.name}}</h5>
										<p>{{testimonial.current_working}}</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

	<!-- //feedback -->
<!-- news -->
	<div class="news">
		<div class="container">  
				<h2 class="heading-agileinfo">News & Events<span>Exclusive Holidays for Any Travelers</span></h2>
			<div class="news-agileinfo"> 
				<div class="news-w3row"> 
					{% for news in allnews %}
					{{ forloop.counter }}
					<div class="wthree-news-grids{% if forloop.counter == 1 %} news-grids-mdl{% endif %}">
					 <div class="wthree-news-grids">
						<div class="col-md-5 col-xs-5 datew3-agileits {% if forloop.counter == 1 %}datew3-agileits-fltrt{% endif %}">
							<img src="{{news.image.url}}" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-7 col-xs-7 datew3-agileits-info {% if forloop.counter == 1 %}datew3-agileits-info-fltlft{% endif %}">
							<h5><a href="#" data-toggle="modal" data-target="#myModal">{{news.title}}</a></h5>
							<h6>{{news.date}}</h6>
							<p>{{news.content}}</p>
						</div>
						<div class="clearfix"> </div>
					 </div>
				    </div>
					{% endfor %}

					<div class="wthree-news-grids news-grids-mdl">
						<div class="col-md-5 col-xs-5 datew3-agileits datew3-agileits-fltrt">
							<img src="{% static 'images/g10.jpg' %]" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-7 col-xs-7 datew3-agileits-info datew3-agileits-info-fltlft">
							<h5><a href="#" data-toggle="modal" data-target="#myModal">Fusce scelerisque</a></h5>
							<h6>5/01/2018</h6>
							<p>Proin euismod vehicula vestibulum. Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.Fusce ullamcorper aliquet dolor id egestas. Nulla leo purus, facilisis non cursus ut, egestas sed ipsum.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //news -->

	<!-- footer -->
	<div class="footer_top_agileits">
		<div class="container">
			<div class="col-md-4 footer_grid">
				<h3>About Us</h3>
				<p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar posuere sapien
					eros.
				</p>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Latest News</h3>
				<ul class="footer_grid_list">
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque vulputate </a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Contact Info</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>8088 USA, Honey block, <span>New York City.</span></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+09187 8088 9436</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="footer_grids">
				<div class="col-md-4 footer_grid_left">
					<h3>Sign up for our Newsletter</h3>
				</div>
				<div class="col-md-8 footer_grid_right">

					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter Email Address..." required="">
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="footer_w3ls">
		<div class="container">
					<div class="footer_bottom1">
						<p>© 2018 Instruction. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
					</div>
		</div>
	</div>
	<!-- //footer -->
{% endblock %}